.blind {
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.link {
  position: relative;
  font-size: 1.1em;
  display: inline-flex;
  line-height: 1.1;
}

.slideup-img {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.slideup-img img {
  display: block;
  width: 100%;
  height: auto;
  clip-path: inset(100% 0 0 0);
  will-change: clip-path;
}

.inner {
  padding: 0 20px;
}

/*  */
.styled-img-hover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.styled-img-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.styled-img-hover:hover img {
  transform: scale(1.05);
}
.styled-img-hover:hover .styled-img-cursor {
  opacity: 1;
  mix-blend-mode: difference;
}
.styled-img-click {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.styled-img-cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
  color: #fff;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.15s ease;
  will-change: opacity, transform;
}

/*  */
.styled-underline {
  padding: 0.2em 0;
  display: flex;
  position: relative;
  mix-blend-mode: difference;
  cursor: pointer;
}
.styled-underline a {
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
  padding-bottom: 3px;
}
.styled-underline a::before,
.styled-underline a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  pointer-events: none;
}

.styled-underline a::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in;
}

.styled-underline a::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out 0.3s;
}

.styled-underline a:hover::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.styled-underline a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*  */

/* .styled-underline02 {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: #fff;
  font-weight: 500;
} */

.styled-underline02 {
  position: relative;
  display: inline-block;
  /* color: #fff; */
  /* mix-blend-mode: difference; */
  padding-bottom: 3px;
}

.styled-underline02::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease-in-out;
}

.styled-underline02:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
