@import "./reset.css";
@import "./common.css";

#header {
}
#header .styled-underline02::after {
  background-color: #fff;
}

#header .inner-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr 2fr;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  mix-blend-mode: difference;
  background: inherit;
  margin: 0 auto;
}

#header .logo {
  width: 190px;
  margin-right: 40px;
}
#header .logo,
#header .service {
  /* opacity: 0; */
  /* transform: translateY(100%); */
  /* overflow: hidden; */
}
#header .nav-text {
  color: #fff;
}
#header .logo a {
}
#header .logo svg {
  width: 100%;
  height: auto;
  display: block;
}
#header .logo path {
  fill: #fff;
}

#header .nav {
}
#header .nav ul {
  display: flex;
  gap: 0.25em;
}
#header .nav ul li {
}
#header .start-underline {
  display: flex;
  justify-content: flex-end;
}
#header .start-underline span {
}

#header .styled-underline {
  flex-shrink: 0;
  margin-left: auto;
}

#footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  border-top: 1px solid var(--color-border);
}
#footer .top {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
}
#footer .line-wrap {
  overflow: hidden;
  margin: -0.4em -0.1em;
}
#footer .line-wrap .line {
  padding: 0.2em 0.1em;
}

#footer .top .list-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#footer .top .list-wrap .title {
  font-size: 1.1em;
  letter-spacing: 0;
  line-height: 1.1;
}
#footer .top .list-wrap .menu-list {
  display: flex;
  flex-direction: column;
}
#footer .top .list-wrap .menu-list li {
  font-size: calc(var(--title-size) * 0.45);
  letter-spacing: -0.025em;
  line-height: 1.02;
}
#footer .top .list-wrap .menu-list .styled-underline02::after {
  height: 5px;
}

#footer .bottom {
  padding: 173px 0 28px;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.3;
  color: var(--color-text);
}
#footer .bottom .copyright {
}
#footer .bottom .legal-list {
  display: flex;
  align-items: center;
}

#footer .bottom .legal-list .slash {
  padding: 0 5px;
}
#footer .bottom .tool-wrap {
  display: flex;
  justify-content: space-between;
}
#footer .bottom .btn-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
#footer .bottom .btn-top .ic-top {
  transform: rotate(-90deg);
  fill: #000;
}

#footer .bottom .btn-top .ic-top path {
  stroke-width: 0.12em;
}
#footer .bottom .btn-bg-decorating {
}
