@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-dark-rgb: 0, 0, 0;
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-light-rgb: 255, 255, 255;
  --color-light: rgba(var(--color-light-rgb), 1);
  --color-white-rgb: 255, 255, 255;
  --color-white: rgba(var(--color-white-rgb), 1);
  --color-black-rgb: 0, 0, 0;
  --color-black: rgba(var(--color-black-rgb), 1);
  --color-primary: var(--color-dark);
  --color-lightgray: #e9e9e9;
  --color-border: var(--color-lightgray);
  --color-border-light: rgba(var(--color-light-rgb), 0.25);
  --color-logo: rgba(var(--color-dark-rgb), 1);
  --color-logo-light: rgba(var(--color-light-rgb), 1);
  --color-alert-error: #d90000;
  --color-alert-success: #00a210;
  --animation-fast: 0.35s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --animation-smooth: 1.47s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --animation-smooth-faster: 1.25s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --animation-ease: 0.735s ease;
  --animation-ease-fast: 0.3s ease;
  --stagger-primary: 0.07s;
  --section-padding: calc(var(--title-size) * 1.25);
  --container-padding: var(--gap);
  --gap: calc(var(--title-size) * 0.2);
  --gap-s: calc(var(--gap) * 0.66);
  --gap-l: calc(var(--gap) * 2);
  --gap-xl: calc(var(--gap) * 3);
  --row-gap: var(--gap);
  --col-gap: var(--gap);
  --main-grid-gap: var(--gap);
  --main-grid-columns: 12;
  --main-grid-column-width: calc(
    ((99.99vw - (var(--container-padding) * 2)) / var(--main-grid-columns)) -
      (
        var(--main-grid-gap) *
          ((var(--main-grid-columns) - 1) / var(--main-grid-columns))
      )
  );
  --title-size: clamp(5rem, 7.5vw, 10rem);
  --border-radius: 0;
  --nav-height: calc((1.1em * 1.1 * 1.4) + (var(--gap) * 2));
  --btn-height: 2.75em;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", sans-serif;
  color: var(--color-logo);
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-size: clamp(16px, 1.2vw, 19px);
  background-color: var(--color-light);
  overscroll-behavior: none;

  -ms-overflow-style: none;
}
html {
  line-height: 1.15;
  -webkit-logo-size-adjust: 100%;
}
::selection {
  background-color: rgba(var(--color-dark-rgb), 1);
  color: var(--color-light);
  logo-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body.no-scroll {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
fieldset {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
